.loader {
  @apply w-44 h-5;
  background: linear-gradient(#fffce1 0 0) 0/0% no-repeat #7b7878;
  animation: l1 3s infinite linear;
}
@keyframes l1 {
  0% {
    background-size: 0%;
  }

  30% {
    background-size: 30%;
  }
  50% {
    background-size: 30%;
  }
  100% {
    background-size: 100%;
  }
}
